#location{
    width: 100%;
    height: 120vh;
    background: url(https://www.w3schools.com/w3images/map.jpg);
    background-position: center;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(75%);
}